<% include partials/head %>
<header>
        <%- include('partials/header', {session: session}); %>
</header>

<div id='new_notifications' style="width: 10%; background-color: orange; float: left"></div>
<form>
    <input name="my_key" id="my_key" type="hidden" value="<%= my_key %>"/>
</form>
<div id="matcha-chat" style="overflow: auto">
    <div id="chat-window">
        <div id="old_output">
            <% messages.forEach(function(message){ 
                if (message.sender != "NULL"){%>
                    <div id="chat_bubble"><% if (message.sender != my_key){ %>
                        <p><strong> <%= chat_mate %>: </strong>
                        <% } else { %>
                            <p><strong><%= session %>: <% } %></strong>
                        <%= message.message %></p></div><br>
                <% }}) %>
        </div>
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
        <div id="message_control" valign="bottom">
            <input id="handle" type="hidden" value="<%= session %>"/><br>
            <input id="chat_mate" type="hidden" value="<%= chat_key %>"/><br>
            <input id="my_key" type="hidden" value="<%= my_key %>"/><br>
            <textarea id="message" type="text" placeholder="Message" rows="4"></textarea>
            <br><button id="send_message">Send</button>
        </div>
</div>
<script src="/js/chat.js"></script>
<script src="/js/notifications.js"></script>

<% include partials/footer %>