<% include partials/head %>
<header>
    <%- include('partials/header', {session: session}); %>
</header>

<div id='new_notifications' style="width: 10%; background-color: orange; float: left"></div>
<form>
        <input name="my_key" id="my_key" type="hidden" value="<%= my_key %>"/>
    </form>
<table class="w3-table w3-bordered" style="color: white; overflow-y: scroll">
    <% if (result){
        result.forEach(function(notice){
                if (notice.action == "Like"){ %>
                    <tr id="unread_row">
                        <td><%= notice.notify %> 
                        <% users.forEach(function(user){
                            if (user.user_name == notice.instigator){ %>
                                <a href="../../profiles/<%= user.unique_key %>"><%= notice.instigator %></a>
                            <% }}) %> on <%= notice.time_log %>
                        </td>
                    </tr>
                <% }
                if (notice.action == "Visit"){ %>
                    <tr id="unread_row">
                        <td><%= notice.notify %> 
                        <% users.forEach(function(user){
                            if (user.user_name == notice.instigator){ %>
                                <a href="../../profiles/<%= user.unique_key %>"><%= notice.instigator %></a>
                            <% }}) %> on <%= notice.time_log %>
                        </td>
                    </tr>
                <% }
                if (notice.action == "Rate" && notice.logged == 0){%>
                    <tr id="message">
                        <td><%= notice.notify %> 
                            <% users.forEach(function(user){
                                if (user.user_name == notice.instigator){ %>
                                    <a href="../../profiles/<%= user.unique_key %>"><%= notice.instigator %></a>
                                <% }}) %> on <%= notice.time_log %>
                        </td>
                    </tr>
                <% } 
                if (notice.action == "Message"){%>
                    <tr id="message">
                        <td><%= notice.notify %> 
                        <% users.forEach(function(user){
                            if (user.user_name == notice.instigator){ %>
                                <a href="../../messaging/<%= user.unique_key %>"><%= notice.instigator %></a>
                        <% }}) %> on <%= notice.time_log %>
                        </td>
                    </tr>
                <% } 
                if (notice.action == "Block"){%>
                    <tr id="read_row">
                        <td><%= notice.notify %> <%= notice.instigator %> on <%= notice.time_log %></td>
                    </tr>
                <% } 
                }
        )} else { %>
                <td>You Have No Notifications!</td>
    <% } %>   
</table>
<script>
    var num_notices = document.getElementById('new_notices');
    num_notices.classList.remove('fas', 'fa-bell');
    num_notices.classList.add('far', 'fa-bell');
    </script>
    <script src="/js/notifications.js"></script>
<% include partials/footer %>