<% include partials/head %>
<header>
    <%- include('partials/header', {session: session}); %>
</header>

<div id='myModal' class='modal'>
	<br/>
	<div id='image_box'>
		<span class='close' style='color: white'>&times;</span>
			<div id='modal_image'>
            </div>
            
			<br/>
    </div>
    
</div>

<div class="user_profiles">
    <% users.forEach(function(user){ %>
        <div onclick="blowup(event, '/extra/profiles/<%= user.user_name %>/<%= user.profile %>')" id="user_bio_profile" style="background-image: url('/extra/profiles/<%= user.user_name %>/<%= user.profile %>')">
            <div class="" ></div>
        </div>
        <div id="user_bio_details">
            <div id="fame_rating_index" style="width: 100%">
                <% for (var i = 0; i < user.fame_rating; i++){ %>
                    <i class="fas fa-star" style="color: maroon; width: 12px;"></i>
                    <% } %>
                    <% while (i < 5){ %>
                        <i class="far fa-star" stule="width: 12px;"></i>
                        <% i++ %>
                        <% } %>
                    </div><br>
                    <table style="padding: 1px; width:100%; font-size: 14px">
                        <tr><%= user.user_name %></tr>
                        <tr>
                            <td>Name: </td>
                            <td><%= user.first_name %></td>
                        </tr>
                        <tr>
                            <td>Surname: </td>
                            <td><%= user.last_name %></td>
                        </tr>
                        <tr>
                            <td>Age: </td>
                            <td><%= user.age %></td>
                        </tr>
                        <tr>
                            <td>Gender: </td>
                            <% if (user.gender == 1){ %>
                                <td>Female</td>
                            <% }else{ %>
                                <td>Male</td>
                            <% } %>
                        </tr>
                            <tr>
                                Interested in: <td><%= user.sexual_pref %></td>
                            <td></td>
                        </tr> 
                    </table>
                    <% if (likeable){ %>
                        <a href="../../messaging/<%= hidden_key %>" ><button type="button" class="btn btn-secondary">Chat Now!</button> </a>                     
                    <% } %>
            </div>
                                        <div id="user_other_details">
                                            <div id="container" style="padding: 10px; color: white">
                                                <% if (user.bio){ %>
                                                    <p id="user_other_about_me_text"><%= user.bio %></p>
                                                <% } %>
                                            </div>
                                            <% if (control){ %>
                                                <div class="btn-group" style="margin: auto; margin-left: 43%">
                                                    <form action="/like" method="POST">
                                                        <input name="hidden_key" id="hidden_key" type="hidden" value="<%= hidden_key %>"/>
                                                        <input name="session" id="session_name" type="hidden" value="<%= session %>"/>
                                                        <input name="my_key" id="my_key" type="hidden" value="<%= my_key %>"/>
                                                    <% if (liked){ %>
                                                        <button id="like_button" type="submit" class="btn btn-warning">Dislike</button>
                                                    <% } else { %>
                                                        <button id="like_button" type="submit" class="btn btn-success">Like</button>
                                                    <% } %>
                                                    </form>
                                                    <form action="/block" method="POST">
                                                        <input name="hidden_key" id="hidden_key" type="hidden" value="<%= hidden_key %>"/>
                                                        <input name="session" id="session_name" type="hidden" value="<%= session %>"/>
                                                        <input name="my_key" id="my_key" type="hidden" value="<%= my_key %>"/>
                                                        <button id="block_button" type="submit" class="btn btn-danger">Block</button>
                                                    </form>
                                                </div>
                                                <% } %>
                                                <div id="panel-warning" style="margin-left: 43.5%; color: yellow">
                                                    <% if (rating) {
                                                        for (var i = 0; i < rating; i++){ %>
                                                            <i id="profile_hearts<%= i + 1 %>" class="fas fa-star"></i>
                                                            <% } 
                                                            while (i < 5){ %>
                                                                <i id="profile_hearts<%= i + 1 %>" class="far fa-star"></i>
                                                                <% i++;
                                                            } 
                                                        } %>
                                                        <form action="/like_me" method="POST" style="color: black">
                                                            <input name="my_key" id="my_key" type="hidden" value="<%= my_key %>"/>
                                                            <input name="hidden_key" id="hidden_key" type="hidden" value="<%= hidden_key %>"/>
                                                            <select name="love_level">
                                                                <option></option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                            <button type="submit">Rate!</button>
                                                        </form>
                                                        </div>
                                                        
                                                    </div> 
                                                    <% images.forEach(function(image){ %>
                                                        <div onclick="blowup(event, '/extra/profiles/<%= user.user_name %>/<%= image.img_01 %>')" id="user_profile1" style="background-image: url('/extra/profiles/<%= user.user_name %>/<%= image.img_01 %>')"></div>
                                                        <div onclick="blowup(event, '/extra/profiles/<%= user.user_name %>/<%= image.img_02 %>')" id="user_profile2" style="background-image: url('/extra/profiles/<%= user.user_name %>/<%= image.img_02 %>')"></div>
                                                        <div onclick="blowup(event, '/extra/profiles/<%= user.user_name %>/<%= image.img_03 %>')" id="user_profile3" style="background-image: url('/extra/profiles/<%= user.user_name %>/<%= image.img_03 %>')"></div>
                                                        <div onclick="blowup(event, '/extra/profiles/<%= user.user_name %>/<%= image.img_04 %>')" id="user_profile4" style="background-image: url('/extra/profiles/<%= user.user_name %>/<%= image.img_04 %>')"></div>
                                                        <% }) %>
                                                <% }) %>
                                                </div>
                                                <script src="/js/profiles.js">
                                                </script>
                                                <% include partials/footer %>